.navbar-costum{
    background-color: #ffe1e0;
  }
  
.btn-costum{
    color: #FA5853 !important;
    background-color: #ffe1e0 !important;
    border-color: #FA5853 !important;
    border-radius: 15px !important;
    border-width: 3px !important;
    width: 132px;
    height: 40px;
    font-size: 16px !important;
    font-weight: bold !important;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    align-items: center;
}
  
h1{
    font-size: 55px !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    font-family: Lato;
    font-weight: bold !important;
}
  
h3{
    font-size: 22px !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.btn-register-home{
    color: white !important;
    background-color:#FA5853 !important;
    border-radius: 15px !important;
    width: 132px;
    height: 40px;
    font-size: 16px !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.col-judul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}