.fontku {
  color: DodgerBlue;
  text-align: center;
  margin: 30px;
}

.formku{
width: 400px;
font-size: 20px;  
}

.profilContainer{
display: flex;
float: right;
margin-right: 15px;
margin-top: 15px;

}
.saveContainer{
  margin-bottom: 20px;
}
.cardContainer{
  margin-top: 50px;
  height: 600px;
}
.imgcontainer{
display: flex;
float: left;
overflow: hidden;
}
.contentimg{
width: 80%;
}

.imgregis{
  width: 100%;
  height: 520px;
  
}

.opsi { 
width: 100%; 
text-align: center;
font-size: 18px; 
border-bottom: 1px solid rgb(151, 124, 124); 
line-height: 0.1em;
margin: 10px 0 20px; 
} 

.texth2 .textspan { 
 background:#f7f7f7; 
 padding:0 10px;
 color:rgb(17, 16, 16); 
}

.btnKembaliRegistrasi{
  color: white;
}

.btnKembaliRegistrasi:hover{
  color:white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .imgregis {
    display: none;
  }
  .cardContainer{
    width: 300px;
  }

  .col-sm-4 {
    flex: 0 0 33.333333%;
    /* max-width: 33.333333%; */
    flex-grow: 0;
    margin-right: 25px;
}
 }