*{
	padding: 0;
	margin: 0;
	
}
body{
  overflow-x: hidden;
}
nav.navbar {
  border-bottom: .2rem solid #e3e3e3;
  margin: 0;
}
#section{
  display: flex;
  margin: 50px auto;
  justify-content: center;
}
.wive{
  width: 55%;
}
/* .card-form {
  flex: 2; 
  margin-left: 80px;    
}
.card-body{
  width: 390px;
} */
.btn.login{
  width: 100%;
  background-color:  #DC143C; 
  border-radius: 15px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 4px 8px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn.login:hover {
  color: white;
}
.label-anchor {
  text-decoration: none;
  margin-left: 80px;
  color: #DC143C;
}
.label-anchor:hover{
  color: black;
}
.regist:hover{
 color: black; 
}
.regist{
  color: #DC143C; 
}
.logo-google, .logo-fb{
  width: 16px;
}
.logo {
  margin-left: 50px;
}
@media (max-width: 690px) {
#section {
  -webkit-flex-direction: column;
  flex-direction: column;   
}
.wive{
  display: none;
}
.card-body{
  width: 100%;
 }
.label-anchor {
  margin: 6px;
}
.btn.btn-light{
  margin-left: 0px;
 }
}
